.map__area-img {
    width: 387px;
    position: absolute;
    left: 270px;
    top: 127px;
}

.map__area-img path {
    transition: fill 2s;
}

.map__area-img-wrapper {
    position: relative;
    width: 1239px;
    margin: 0 auto;
}

.map {
    background-color: pink;
}

